.itemContainer {
    font-size: medium;
    display: flex;
    flex-direction: column;
}

.list{
    padding-left: 0px;
    padding-right: 40px;
    list-style: none;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 50px;
}

.elementsList {
    display: flex;
    align-items: center;
    list-style-type: none;
    justify-content: space-between;
    width:300px;
    padding: 3px;
    margin: 10px;
    
}

.CheckItem {
    display: flex;
    text-align: center;
    align-items: center;
}

.checkbox {
    appearance: none;
    padding-top: 5px;
    width: 20px;
    height: 20px;
    border: 2px solid #9D8198;
    border-radius: 2px;
    background-color: white;
    cursor: pointer;
}

.checkbox:checked {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #90AD9C;
    border-radius: 2px;
    background-color: white;
    position: relative;
}

.checkbox:checked::before {
    content: "✔";
    display: block;
    text-align: center;
    font-size: 17px;
    color: #90AD9C;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.checkbox:checked ~ .noDone {
    text-decoration: line-through;
}

.isDone {
    text-decoration: line-through;  
}

.noDone {
    text-decoration: none;
}
.inputEdit{
    display: flex;
    text-align: center;
}

.inputEditMode{
    font-family: 'Laila', sans-serif;
    border-radius: 5px;
}

.AiOutlineCheck{
    color: #90AD9C;
    cursor: pointer;
}

.AiOutlineClose{
    color: rgb(255, 116, 116);
    cursor: pointer;

}
.iconsContainer{
    font-size: larger;
    cursor: pointer;
    display: flex;
    gap: 10px;
}